[Unit]
Description=Riemann Health pings
Wants=network-online.target
After=network-online.target

[Service]

User=root
Group=root
{% if riemann_extra_args %}
ExecStart={{ gem_path.stdout }}/wrappers/riemann-health --interval=20 --host={{ riemann_server }} --port={{ riemann_port }} --tag=riemann-health {{riemann_extra_args}}
{% else %}
ExecStart={{ gem_path.stdout }}/wrappers/riemann-health --interval=20 --host={{ riemann_server }} --port={{ gem_path }} --tag=riemann-health
{% endif %}

# Connects standard output to /dev/null
StandardOutput=journal

# Connects standard error to journal
StandardError=journal

[Install]
WantedBy=multi-user.target
